<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.achase.safespace">

    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="SafeSpace">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.achase.safespace.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <activity
            android:name=".LoginActivity"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StandardRegistrationActivity"
            android:label="@string/title_activity_standard_registration">
        </activity>
        <activity
            android:name=".MedicalRegistrationActivity"
            android:label="@string/title_activity_medical_registration">
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile">
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/update_profile">
        </activity>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>